@import './mixin'
@import './footer'
@import './main/nav'
@import './main/top_slider'
@import './main/article'

@font-face
	font-family DancingScript
	font-style normal
	src url('./font/DancingScript.woff')

.dancing
	font-family DancingScript

html,ul,li
	margin 0
	padding 0

body,h1,h2,h3,h4,p,form,label,input,textarea,img
	margin 0
	padding 0
	-webkit-font-smoothing antialiased
	font_family_normal()
a
	text-decoration none
	outline none
h1,h2,h3,h4
	font_family_yahei()
	margin-bottom 10px
ul,li
	list-style none
img
	border none
	vertical-align middle

.clearfix
	clearfix()

.text_justify
	text-align justify
	text-justify distribute-all-lines
	text-align-last justify
	-moz-text-align-last justify
	-webkit-text-align-last justify
