include mixins/nav_helper

!!! 5
html(lang="en")
	head
		- var title = "Zen Spas | Dealer"
		include _includes/header
	body(data-spy="scroll" data-target=".navigation" data-offset="94")
		nav#nav.sticky-nav.navigation
			.container
				h1#logo
					mixin logo(title,logo_img)

		include _includes/footer

