include mixins/nav_helper

!!! 5
html(lang="en")
	head
		- var title = "Zen Spas | Dealer"
		include _includes/header
	body(data-spy="scroll" data-target=".navigation" data-offset="94" data-init="dealer")
		nav#nav.sticky-nav.navigation
			.zen_container
				h1#logo
					mixin logo(title,logo_img)
				#menu
					ul#headline.nav
						li
							a(href="/")
								| Home
		article
			#dealer.wrapper
				.page_title
					h2.title
						i.fa.fa-search
						|Find Your Near Dealer
				.zen_container
					.inner_container.clearfix
						.country_selector.left
							h4.desc
								i.fa.fa-map-marker
								| DEALER LOCATOR
							.selector

						.dealer_list.right
							ul.list
								for item in body.dealers
									li.item
										h3.name= item.name
										.address.info
											i.fa.fa-location-arrow
											= item.address
										.tel.info
											i.fa.fa-phone-square
											= item.tel
										.action
											a(href="mailto:kkxlkkxllb@gmail.com")
												span.btn.btn-primary
													| Get Dealer Pricing
													i.fa.fa-chevron-circle-right
		include _includes/footer

