include mixins/nav_helper

!!! 5
html(lang="en")
	head
		- var title = "Zen Spas | Features"
		include _includes/header
	body(data-spy="scroll" data-target=".bs-sidebar" data-offset="94" data-init="feature")
		nav#nav.sticky-nav.navigation
			.zen_container
				h1#logo
					mixin logo(title,logo_img)
				#menu
					ul#headline.nav
						li
							a(href="/")
								| Home
		article
			#feature.wrapper.two_stick
				.page_title
					h2.title
						i.fa.fa-heart
						| Features
				.zen_container
					.bg_image
						img(src="./assets/images/bg3.jpg")
					.col-md-3
						.sider_bar.bs-sidebar
							ul.nav.bs-sidenav
								li
									a(href="#f1") Structural Integrity
								li
									a(href="#f2") Energy Efficiency
								li
									a(href="#f3") Water Purity
								li
									a(href="#f4") Massage Therapy
								li
									a(href="#f5") In-Spa Experience
								li
									a(href="#f6") Easy Maintenance
					.col-md-9(role="main")
						#f1.section
							h2 Structural Integrity
							.content
								p Your family’s health should never be compromised. Zen Spas unique water purity system is a radical water clarity system that successfully purifies water killing bacteria, algae and viruses.
								h3 Unibody steel frame
								p Zen Spas has not only been engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary chemical exposure.
								p Zen engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary safe and healthy.
								h3 Unibody Base
								p Zen Spas has not only been engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary chemical exposure.
								h3 TitaniLaminate
								p Zen engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary safe and healthy.
						#f2.section
							h2 Energy Efficiency
							.content
								p The Zen Spas has not only been engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary chemical exposure.
								h3 Heatlock Microprocessor Intellegence
								p Zen Spas has not only been engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary chemical exposure.
								p Zen engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary safe and healthy.
						#f3.section
							h2 Water Purity
							.content
								p The Zen Spas has not only been engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary chemical exposure.
								h3 Heatlock Microprocessor Intellegence
								p Zen Spas has not only been engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary chemical exposure.
								p Zen engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary safe and healthy.
						#f4.section
							h2 Massage Therapy
							.content
								p The Zen Spas has not only been engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary chemical exposure.
								h3 Heatlock Microprocessor Intellegence
								p Zen Spas has not only been engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary chemical exposure.
								p Zen engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary safe and healthy.
						#f5.section
							h2 In-Spa Experience
							.content
								p The Zen Spas has not only been engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary chemical exposure.
								h3 Heatlock Microprocessor Intellegence
								p Zen Spas has not only been engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary chemical exposure.
								p Zen engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary safe and healthy.
						#f6.section
							h2 Easy Maintenance
							.content
								p The Zen Spas has not only been engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary chemical exposure.
								h3 Heatlock Microprocessor Intellegence
								p Zen Spas has not only been engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary chemical exposure.
								p Zen engineered ding the absolute best hot tub ownership experience. This section is dedicated to you… our valued hot tub customers. You don’t have to subject your family to unncessary safe and healthy.
		include _includes/footer
