include mixins/nav_helper

!!! 5
html(lang="en")
	head
		- var title = "Zen Spas | Features"
		include _includes/header
	body(data-spy="scroll" data-target=".bs-sidebar" data-offset="94" data-init="feature")
		nav#nav.sticky-nav.navigation
			.zen_container
				h1#logo
					mixin logo(title,logo_img)
				#menu
					ul#headline.nav
						li
							a(href="/")
								| Home
		article
			#feature.wrapper
				.page_title
					h2.title
						i.fa.fa-heart
						| Features
				.zen_container
					.image
						img(src="./assets/images/bg2.jpg")
					.col-md-3
						.sider_bar.bs-sidebar
							ul.nav.bs-sidenav
								li
									a(href="#f1") Structural Integrity
								li
									a(href="#f2") Energy Efficiency
								li
									a(href="#f3") Water Purity
								li
									a(href="#f4") Massage Therapy
								li
									a(href="#f5") In-Spa Experience
								li
									a(href="#f6") Easy Maintenance
					.col-md-9(role="main")
						#f1.section
							h2 Structural Integrity
							.content

						#f2.section
							h2 Energy Efficiency
							.content
						#f3.section
							h2 Water Purity
						#f4.section
							h2 Massage Therapy
						#f5.section
							h2 In-Spa Experience
						#f6.section
							h2 Easy Maintenance
		include _includes/footer
