!!! 5
html(lang="en")
	head
		include _includes/header
	body(data-spy="scroll" data-target=".navigation" data-offset="94" data-init="home")
		include _main/top_slider
		include _main/nav
		include _main/article
		include _includes/footer
		include _includes/ga.html
