include mixins/nav_helper

!!! 5
html(lang="en")
	head
		- var title = "Zen Spas | Quote"
		include _includes/header
	body(data-spy="scroll" data-target=".navigation" data-offset="94" data-init="quote")
		nav#nav.sticky-nav.navigation
			.container
				h1#logo
					mixin logo(title,logo_img)
		article
			#quote
				.page_title
					h2.title
						i.fa.fa-comment
						|Need a Quote?
				.container
					.desc
						p Whether you’re in need of a spa pool for romance, time with you family and friends, relaxation or beauty purposes, Zen Spas has a solution for you.
						p Please fill in the short form below and we will provide you with a no obligation quote.
					.form
						.product
							label Product:
							for item in body.products
								span.item
									input(type="checkbox" name="product[]")
									span.p_desc= item.title
						.model
							label Model*:
							input(type="text" name="model")
						.country_selector
							.selector
