footer
	.second
		.socials
			.item
				a(href="http://twitter.com")
					span.fa.fa-twitter
			.item
				a(href="http://facebook.com")
					span.fa.fa-facebook-square
			.item
				a(href="http://weibo.com")
					span.fa.fa-weibo
			.item
				a(href="https://wx.qq.com/")
					span.fa.fa-weixin
			.item
				a(href="http://youku.com")
					span.icon-youku
			.item
				a(href="http://youtube.com")
					span.fa.fa-youtube
		.quick
			.item
				a(href="/quote")
					| Need A Quote?
			.item
				a(href="/dealer")
					| Need  A Dealer?
			.item
				a(href="/products")
					| Our Products
			.item
				a(href="/features")
					| Features
			.item
				a(href="/owner")
					| For Owners
	.fs!= footer.text
