footer
	.second
		.socials
			.item
				a(href="http://twitter.com")
					span.fa.fa-twitter
			.item
				a(href="http://facebook.com")
					span.fa.fa-facebook-square
			.item
				a(href="http://weibo.com")
					span.fa.fa-weibo
		.quick
			.item
				a(href="/quote")
					| Need A Quote?
			.item
				a(href="/dealer")
					| Need  A Dealer?
			.item
				a(href="/products")
					| Our Products
			.item
				a(href="/features")
					| Features
			.item
				a(href="/owner")
					| For Owners
	.fs!= footer.text
