include ../mixins/header_helper

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
mixin meta_tag("viewport","width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no")
mixin meta_tag("apple-mobile-web-app-capable","yes")
mixin meta_tag("apple-mobile-web-app-status-bar-style","black-translucent")
mixin meta_tag("description",description)
mixin meta_tag("keywords",keywords)
//if lt IE 9
	script(src= "./assets/html5.js")
title= title
mixin stylesheet_link_tag("./assets/application.css")
// mixin javascript_include_tag("https://maps.googleapis.com/maps/api/js?key=AIzaSyDrx8B0GDF3Nvg4skDM82MlV0bRm8rwQtc&sensor=false")
mixin javascript_include_tag("./assets/application.js")
link(href="./favicon.ico" rel="shortcut icon")
link(href="./favicon.png" rel="apple-touch-icon-precomposed")
