article
	#products
		.item
			.title Swim Spas
			.pic
				img(src="./assets/images/product/girl.jpg" title="Swim Spas")
		.item
		.item
		.item
		.item
		.item
		.item
	#features
	#specials
	#contact
