article
	#home
		include top_slider
	#line_bg
	#operate
		.title 专业为您提供一下服务
		ul.service
			li.item
				.icon_bg
					img(src="./assets/images/ico_09.png")
				.item_title 用户数据挖掘
				.content
					| 我们基于全国4亿活跃持卡人，日均5200多万笔交易记录，通过对先进的模型算法，从人群属性、行业关联、地理位置等方面进行数据挖掘，从海量数据中筛选出了一批具有独特标签属性的目标用户，为不同行业的企业主寻找潜在目标客户群体，挖掘市场竞争情况。
			li.item
				.icon_bg
					img(src="./assets/images/ico_13.png")
				.item_title 点对点精准营销
				.content
					| 我们通过各种通信工具，向用户进行点对点精准营销，并且对每一次商户的精准营销推广，都会生成图表化的效果评估报告，以最直观的方式向商户展示营销效果。在为用户传递企业价值的同时提升企业价值，实现共赢。
			li.item
				.icon_bg
					img(src="./assets/images/ico_19.png")
				.item_title 经营分析报告
				.content
					| 我们基于银联独家的“大数据”优势，提供针对商户自有交易数据及行业数据，对客户消费特征及所在行业的竞争状况进行分析，为商户提供经营和营销的决策支持。
	#customer
		.title_s
			.icon
				img(src="./assets/images/ico_24.png")
			.con 我们来听听客户的感受

		.flexslider
			ul.slides
				li.slide
					| 银联智惠的精准营销为各门店新增了不少优质客流，将活动内容精准的传递给潜在客户正是银联智惠最大的价值之一。一茶一坐市场部负责人
				li.slide
					| 商圈刷卡触发产品改变了传统营销在公司心中的印象，实时、精准，每一个节假日银联智惠总是我们重要的合作客户。天河城市场推广部经理
				li.slide
					| 精准高效，收费合理。 百联又一城市场部经理
				li.slide
					| 和银联智惠合作多次了，技术实力毋庸置疑，每次推广都向新老客户精准的送去问候，带来很多回头客。东方商厦市场部经理
				li.slide
					| 大数据营销在一定程度上提升了酒吧的入座率，推广后的数据统计更是真实有效地呈现出整个营销的效果概况。 MUSE负责人

	#about
		.title 我们是谁
		.content
			p 银联智惠是中国银联旗下子公司，成立于2012年12月，核心团队曾在ORACLE、VISA、阿里巴巴、腾讯等国内外知名企业担任重要职务，拥有成熟的公司治理经验，市场/销售经验，大数据挖掘核心技术，并拥有多项软件著作权。
			p 公司致力于大数据的整合、挖掘、应用，为零售等行业提供深度数据服务，提升客户企业运作效率，发展创新业务模式。
			p 公司依托银联强大的跨行转接交易数据资源，采集并整合银行、运营商、互联网等来源的数据，建设统一的大数据基础平台；在此基础上，采用数据挖掘核心技术，精心打造银联智惠大数据模型，勾勒出全国8亿持卡人的画像及500万商户的特征，为广大商户提供一站式的精准营销、会员管理及经营分析等解决方案。
	#choose_slider
		.title_s 他们选择了我们
		.auto_slide
	#jobs
		.title_s 我们还招聘以下人才
		.summary
			p 如果你是技术怪才；如果你是产品达人；如果你对新兴行业有着近乎偏执的热情，我们会以自由畅想的环境、强身健魄的高手间切磋、快速成长与未来的无限前景作为交换。
			p 作为一块顶级人才吸铁石，我们诚请你的加入，枉有屠龙之技的你还坐得住么？一起来吧
		ul.content
			li
				p
					a.job_blue(href= "http://search.51job.com/job/53813766,c.html" target="blank") > 用户体验设计师
				p
					a.job_blue(href= "http://search.51job.com/job/55440636,c.html" target="blank") > APP产品助理（专员）
				p
					a.job_blue(href= "http://search.51job.com/job/55809559,c.html" target="blank") > 总裁助理
			li
				p
					a.job_blue(href= "http://search.51job.com/job/55826221,c.html" target="blank") > 数据平台工程师
				p
					a.job_blue(href= "http://search.51job.com/job/55637460,c.html" target="blank") > 渠道管理专员
				p
					a.job_blue(href= "http://search.51job.com/job/54349318,c.html" target="blank") > 运营经理（APP会员运营Leader）
			li
				p
					a.job_blue(href= "http://search.51job.com/job/55666570,c.html" target="blank") > 高级销售代表
				p
					a.job_blue(href= "http://search.51job.com/job/55231580,c.html" target="blank") > Android开发工程师
				p
					a.job_blue(href= "http://search.51job.com/list/co,c,2906327,000000,50,1.html") > 更多
	#contact
		.title 联系我们