nav.sticky-nav.navigation
	#top_container
		#logo
			a(href = "#home")
				img(src="./assets/images/logo.png" width="200" height="60")
		#nav
			ul#headline.nav
				li.active
					a(href = "#home") 首页
				li
					a(href = "#operate") 业务模式
				li
					a(href = "#about") 公司介绍
				li
					a(href = "#contact") 联系我们
