nav#nav.sticky-nav.navigation
	.container
		h1#logo
			a(href = "/" title=title)
				span.htitle= title
				img(src="./assets/images/logo.jpg" width="243" height="80")
		#menu
			ul#headline.nav
				li.active
					a(href = "#home") Home
				li
					a(href = "#products") Products
				li
					a(href = "#features") Features
				li
					a(href = "#specials") Specials
				li
					a(href = "#contact") Contact
