#banner_main.fullwidthbanner-container.rev_slider_wrapper
	#banner_slider.banner.rev_slider.fullwidthabanner
		ul
			li(data-transition="fade" data-slotamount="4" data-masterspeed="300")
				.slotholder
					img.defaultimg(src="./assets/images/banner_bg_02.png")
				.caption.lfb(data-x="40" data-y="53" data-speed="500" data-start="100" data-easing="easeOutElastic")
					img(src="./assets/images/top_slider_1.png")
				.caption.banner_green.large_text.sfr(data-x="420" data-y="120" data-speed="300" data-start="600" data-easing="easeOutExpo")
					| 基于深度数据挖掘的精准营销
				.caption.banner_black.sfr(data-x="420" data-y="190" data-speed="300" data-start="1000" data-easing="easeOutExpo")
					| 多维度：性别、年龄、地理位置、消费金额、消费强度、消费偏好等
					br
					| 高价值：唤醒沉睡客户、寻找精准目标客户、用户行为预测、个性化营销方案
