#home
	#banner_main.fullwidthbanner-container.rev_slider_wrapper
		#banner_slider.banner.rev_slider.fullwidthabanner
			ul
				li(data-transition="3dcurtain-horizontal" data-slotamount="4" data-masterspeed="300")
					.slotholder
						img.defaultimg(src="./assets/images/top_bg/t1.jpg")
					.caption.banner_green.large_text.sfr(data-x="70" data-y="70" data-speed="300" data-start="600" data-easing="easeOutExpo")
						| ZEN SPAS
					.caption.banner_white.sfr(data-x="70" data-y="120" data-speed="300" data-start="1000" data-easing="easeOutExpo")
						| Australia’s 1st Swimming Spa
				li(data-transition="papercut" data-slotamount="7" data-masterspeed="300")
					.slotholder
						img.defaultimg(src="./assets/images/top_bg/t2.jpg")
					.caption.banner_green.large_text.sfr(data-x="170" data-y="70" data-speed="300" data-start="600" data-easing="easeOutExpo")
						| Zen Spas
					.caption.banner_white.lfb(data-x="170" data-y="120" data-speed="300" data-start="1000" data-easing="easeOutExpo")
						| Kids
				li(data-transition="slideright" data-slotamount="7" data-masterspeed="300")
					.slotholder
						img.defaultimg(src="./assets/images/top_bg/spa.jpg")
					.caption.banner_green.large_text.sfb(data-x="70" data-y="70" data-speed="300" data-start="600" data-easing="easeOutExpo")
						| Zen Spas
					.caption.banner_white.sfr(data-x="70" data-y="120" data-speed="300" data-start="1000" data-easing="easeOutExpo")
						| Gift for your family
				li(data-transition="slideup" data-slotamount="7" data-masterspeed="300")
					.slotholder
						img.defaultimg(src="./assets/images/top_bg/t3.jpg")
					.caption.banner_green.large_text.sfr(data-x="70" data-y="70" data-speed="300" data-start="600" data-easing="easeOutExpo")
						| Zen Spas
					.caption.banner_white.sfr(data-x="70" data-y="120" data-speed="300" data-start="1000" data-easing="easeOutExpo")
						| Natual
