@import '../mixin'

.title
	margin-top 70px
	margin-bottom 35px
	text-align center
	font-size 36px
	color #60bc4c
	line-height 60px
#operate
	margin 0 auto
	width 900px
	ul.service
		margin 0
		padding 0
		list-style none
		li
			display table-cell
			text-align center
			width 1%
			height 300px
			.icon_bg
				margin 0 auto
				width 211px
				height 151px
				background url("./images/ico_16.png") no-repeat
				position relative
				img
					vertical-middle-auto()
					margin-left -45px
					width 90px
					left 50%
			.item_title
				font-size 22px
				padding 10px 0
				margin-bottom 20px
			.content
				padding 0 20px
				text-align left
				color #666
#customer
	margin-top 40px
	background url("./images/shattered.jpg") repeat-x
	width 100%
	height 350px
	text-align center
	.flexslider
		padding 10px 0
		width 900px
		margin 0 auto
	ul.slides li
		font-size 16px
		line-height 1.4
		margin 5px auto 50px
		padding 15px 0
		border-top 1px solid #eee
		border-bottom 1px solid #eee
	.title_s
		.icon
			height 120px
			position relative
			img
				vertical-middle-auto()
				margin-left -37px
				left 50%
		.con
			font-size 30px
			line-height 30px
			color white
#about
	.content
		width 900px
		margin 0 auto
		font-size 12px
		p
			margin 10px 0
.title_s
	font-size 30px
	color #999
	line-height 30px
	text-align center
	padding 20px
#choose_slider
	margin-top 40px
	background url("./images/choose.png")
	width 100%
	height 260px

#jobs
	width 900px
	margin 0 auto
	margin-top 40px
	.summary
		border-top 1px solid #ddd
		border-bottom 1px solid #ddd
		padding 10px 0
		p
			margin 10px
	ul.content
		margin 0
		padding 0
		list-style none
		margin-top 40px
		li
			display table-cell
			width 1%
			p
				margin 10px 0
			a
				color #999
#contact
	background url("./images/contact_bg.jpg") no-repeat
	height 300px