@import '../mixin'

width = 940px
blue = #428cce
silver = #bdc3c7
nav_height = 5.75em
nav_border = 0.25em

body
	min-width width
#nav.sticky
	box-shadow 0 1px 3px rgba(0, 0, 0, .12)
#nav
	height nav_height
	z-index 9999
	width 100%
	background #fff
	.htitle
		display none
	.zen_container
		width width
		height 100%
		margin-right auto
		margin-left auto
		position relative
		#logo
			vertical-middle(80px)
			a
				display block
	#menu
		position absolute
		right 0px
		top 0px
		ul
			position relative
			clearfix()
		li
			display inline-block
			line-height nav_height
			height nav_height
			z-index 14
			float left
			a
				display block
				color silver
				outline none
				letter-spacing 0
				overflow hidden
				font-size 1em
				margin 0 15px
				font_family_yahei()
				height (nav_height - nav_border)
				font-weight bold
		li:hover
			a
				color blue
		li.active
			a
				color blue
				border-bottom nav_border solid blue
