@import '../mixin'

slider_height = 420px

#banner_main
	max-height slider_height !important
	margin 0px auto

#banner_slider
	max-height slider_height !important

#line_bg
	background url("./images/index_14.png") repeat-x
	height 7px
	width 100%
	clear both
.banner_green
	font-size 30px
	color #FFFFFF
	line-height 30px
	z-index 3
	background-color #60bc4c
	padding 10px 20px 10px 20px

.banner_white
	font-size 30px
	line-height 30px
	color #393939
	z-index 3
	background-color #ffffff
	padding 5px 20px 5px 20px

.banner_black
	font-size 12px
	line-height 20px